#header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../image/pattern.jpeg");
}

.product {
    font-family: helvetica;
}

.product h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes h3 {
    background-color: mediumspringgreen;
}

#frames h3{
    background-color: lightcoral;
}

#paint h3{
    background-color: skyblue;
}

.product h5 {
    font-size: 20px;
}

.product .price {
    font-weight: bold;
    color: blue;
}